# Переименуйте этот файл в config.env
DB_HOST=127.0.0.1
DB_NAME=mathforces_db
DB_USER=mathforces
DB_PASS=mathforces_pass
DB_PORT=5432

OPENROUTER_API_KEY=sk-or-v1-ваш-токен
OPENROUTER_MODEL=openrouter/openai/gpt-4o-mini
SERVER_PORT=8080
