# Переименуйте этот файл в config.env
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=

OPENROUTER_API_KEY=
OPENROUTER_MODEL=
SERVER_PORT=
JWT_SECRET=

CLIENT_BASE_URL=
# Google OAuth
GOOGLE_CLIENT_ID=

# SMTP 
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
